@{
    ViewData["Title"] = "Identifying Areas";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>

<div class="text-center text-light">
    <h2 class="display-4">Match The Columns</h2>
</div>

<div class="wrapper">
    <br /> 
<div class="grid-container">
    <div class="grid-item">
        @*showing columns A and B*@
      <div class="card" style="width: 18rem;align-items: center">
           <h4 style="color: #000000; text-align: center">Column A</h4><br />
             @foreach (var category in ViewBag.Slist)
             {<div class="item" style="color: #000000"><span>@category.Key</span></div>}
             @foreach (var category in ViewBag.SSlist)
             {<div class="item" style="color: #000000"><span>@category.Value</span></div>}
        </div>
    </div>
    <div class="grid-item">
        <div class="card" style="width: 18rem;align-items: center">
            <h4 style="color: #000000; text-align: center">Column B</h4><br />
               @foreach (var category in ViewBag.Slist)
               {<div class="item" style="color: #000000"><span>@category.Value</span></div>}
               @foreach (var category in ViewBag.SSlist)
               {<div class="item" style="color: #000000"><span>@category.Key</span></div>}
        </div>
    </div>
            @*showing user input for answers*@

    <div class="grid-item">
        <div class="card" style="width: 6rem;align-items: center">
         <h4 style="color: #000000; text-align: center">Answers</h4><br />
          <div class="item2"><span><label for="value1">1 : </label>
          <input id="value1" name="value1" type="text" value="" style="text-color: #ffffff; width: 2rem" /></span></div>        
          <div class="item2"><span><label for="value2">2 : </label>
          <input id="value2" name="value2" type="text" value="" style="text-color: #ffffff; width: 2rem" /></span></div>        
          <div class="item2"><span><label for="value3">3 : </label>
          <input id="value3" name="value3" type="text" value="" style="text-color: #ffffff; width: 2rem" /></span></div>       
          <div class="item2"><span><label for="value4">4 : </label>
          <input id="value4" name="value4" type="text" value="" style="text-color: #ffffff; width: 2rem" /></span></div>
          <div class="item2"><span><label for="value5">5 : </label>
          <input id="value5" name="value5" type="text" value="" style="text-color: #ffffff; width: 2rem" /></span></div>
          </div>
          <br />
          <button type="button" name="btnLink" id="btnLink" class="btn-success">Check</button>
    </div>
</div>
</div>



<script>
    $("#btnLink").click(function () {
      
    //code attribution
    //this code for using jquery selectors was adapted from the following source:
    //Author: W3schools
    //url: https://www.w3schools.com/jquery/jquery_selectors.asp
    //end of code attribution

        v1 = $("#value1").val(); 
        v2 = $("#value2").val(); 
        v3 = $("#value3").val(); 
        v4 = $("#value4").val(); 
        v5 = $("#value5").val(); 

    //end of attributed code
    
    
    //checking to make sure answers are correct
        if (v3 == "301" && v1 == "302" && v2 == "303" && v5 == "304" && v4 == "305"){
          $('#ModalPopUp').modal('show');
      }else{$('#ModalPopUp2').modal('show');}

    })
</script>

@*modal that shows if its correct
*@
<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog err-pop" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h2>Congrats, you got it all correct, click continue to proceed to the question </h2>
                <input class="btn-success" id="Button1" type="button" value="Continue" onclick="window.location.reload();"/>
                
            </div>
        </div>
    </div>
</div>

@*modal that shows if its incorrect
*@
<div class="modal fade" id="ModalPopUp2" role="dialog">
    <div class="modal-dialog err-pop" style="">
        <div class="modal-content">
            <div class="modal-header">
               
            </div>
            <div class="modal-body" style="text-align:center;">
                <h2>You made a Mistake, Go back and correct it</h2>
                <button id="DivClose" type="button" class="btn-warning" data-dismiss="modal">&times;</button>
                
            </div>
        </div>
    </div>
</div>


@*styling of this page
*@

<style>
    .wrapper .item i {
        font-size: 18px;
        cursor: pointer;
    }
    .wrapper .item2 i {
        font-size: 18px;
        cursor: pointer;
    }

    .wrapper {
        color: white;
    }

    .checkwrap {
        visibility: hidden;
    }

    .wrapper .item {
        color: #fff;
        display: flex;
        margin-bottom: 8px;
        padding: 12px 17px;
        background: #bfbfbf;
        border-radius: 3px;
        align-items: center;
        justify-content: space-between;
        width: 16rem;
    }
    .wrapper .item2 {
        color: #fff;
        display: flex;
        margin-bottom: 8px;
        padding: 12px 17px;
        background: #bfbfbf;
        border-radius: 3px;
        align-items: center;
        justify-content: space-between;
    }
    .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    }
    .grid-item {
    padding: 20px;
    }
    
</style>



