@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="~/scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery-ui.min.js"></script>
<script src="https://use.fontawesome.com/8e72975b65.js"></script>


<div class="text-center text-light">
    <h2 class="display-4">Welcome</h2>
    <p>
        This application will help you learn more about how the library operates <br />
    </p>
</div>




<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="mycards">
                <div class="mycard mycard-1" style="width: 18rem">
                    <h3 class="card__title">Replace Books</h3>
                    <p class="card__apply"><a class="card__link" href="Home/sortbooks">Open Now </a></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="mycards">
                <div class="mycard mycard-2" style="width: 18rem">
                    <h3 class="card__title">Identifying Areas</h3>
                    <p class="card__apply"><a class="card__link" href="Home/identifyingareas">Open Now </a></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="mycards">
                <div class="mycard mycard-3" style="width: 18rem">
                    <h3 class="card__title">Finding Call Numbers</h3>
                    <p class="card__apply"><a class="card__link" href="Home/findingcallnumbers">Open Now </a></p>
                </div>
            </div>
        </div>
    </div>
</div>